# Dicionários

In [1]:
tabela = { "Alface": 0.45,
"Batata": 1.20,
"Tomate": 2.30,
"Feijão": 1.50 }

print(tabela)

print("Acessando valor da chave Alface: %.2f" % tabela["Alface"])

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijão': 1.5}
Acessando valor da chave Alface: 0.45

In [6]:
tabela = { "Alface": 0.45,
 "Batata": 1.20,
 "Tomate": 2.30,
 "Feijão": 1.50 }

print(tabela["Tomate"]) 
print(tabela)

tabela["Tomate"] = 5.50
print(tabela["Tomate"])

tabela["Cebola"] = 1.20 
print(tabela)

2.3
{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijão': 1.5}
5.5
{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 5.5, 'Feijão': 1.5, 'Cebola': 1.2}

In [8]:
tabela = { "Alface": 0.45,
 "Batata": 1.20,
 "Tomate": 2.30,
 "Feijão": 1.50 }

tabela["Manga"]

KeyError: 'Manga'

In [9]:
print("Manga" in tabela)
print("Batata" in tabela)

False
True

In [11]:
print(tabela.keys())
print(tabela.values())

dict_keys(['Alface', 'Batata', 'Tomate', 'Feijão'])
dict_values([0.45, 1.2, 2.3, 1.5])

In [12]:
tabela = { "Alface": 0.45,
"Batata": 1.20,
"Tomate": 2.30,
"Feijão": 1.50 }
while True:
    produto=input("Digite o nome do produto, fim para terminar:")
    if produto == "fim":
        break
    if produto in tabela: 
        print("Preço %5.2f" % tabela[produto]) 
    else:
        print("Produto não encontrado!")

Preço  1.20
Produto não encontrado!

In [13]:
del tabela["Tomate"]

## Dicionários com Listas

In [3]:
estoque = { "tomate": [ 1000, 2.30],
"alface": [ 500, 0.45],
"batata": [ 2001, 1.20],
"feijão": [ 100, 1.50] }
print(estoque)

{'tomate': [1000, 2.3], 'alface': [500, 0.45], 'batata': [2001, 1.2], 'feijão': [100, 1.5]}

# Tuplas

In [7]:
minha_tupla = ("a","b","c")

print(minha_tupla)
print(minha_tupla[0])
print(minha_tupla[1])
print(minha_tupla[2])
print(minha_tupla[1:])
print(minha_tupla * 2)
print(len(minha_tupla))

('a', 'b', 'c')
a
b
c
('b', 'c')
('a', 'b', 'c', 'a', 'b', 'c')
3

In [8]:
minha_tupla[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [11]:
tupla = ('a', ['b','c','d'])
print(tupla)
print(len(tupla))
print(tupla[1])
tupla[1].append('e')
print(tupla)

('a', ['b', 'c', 'd'])
2
['b', 'c', 'd']
('a', ['b', 'c', 'd', 'e'])