# Dicionários

In [1]:
tabela = { "Alface": 0.45,
"Batata": 1.20,
"Tomate": 2.30,
"Feijão": 1.50 }

print(tabela)

print("Acessando valor da chave Alface: %.2f" % tabela["Alface"])

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijão': 1.5}
Acessando valor da chave Alface: 0.45

In [6]:
tabela = { "Alface": 0.45,
 "Batata": 1.20,
 "Tomate": 2.30,
 "Feijão": 1.50 }

print(tabela["Tomate"]) 
print(tabela)

tabela["Tomate"] = 5.50
print(tabela["Tomate"])

tabela["Cebola"] = 1.20 
print(tabela)

2.3
{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijão': 1.5}
5.5
{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 5.5, 'Feijão': 1.5, 'Cebola': 1.2}

In [8]:
tabela = { "Alface": 0.45,
 "Batata": 1.20,
 "Tomate": 2.30,
 "Feijão": 1.50 }

tabela["Manga"]

KeyError: 'Manga'

In [9]:
print("Manga" in tabela)
print("Batata" in tabela)

False
True

In [11]:
print(tabela.keys())
print(tabela.values())

dict_keys(['Alface', 'Batata', 'Tomate', 'Feijão'])
dict_values([0.45, 1.2, 2.3, 1.5])

In [12]:
tabela = { "Alface": 0.45,
"Batata": 1.20,
"Tomate": 2.30,
"Feijão": 1.50 }
while True:
    produto=input("Digite o nome do produto, fim para terminar:")
    if produto == "fim":
        break
    if produto in tabela: 
        print("Preço %5.2f" % tabela[produto]) 
    else:
        print("Produto não encontrado!")

Preço  1.20
Produto não encontrado!

In [13]:
del tabela["Tomate"]

## Dicionários com Listas

In [3]:
estoque = { "tomate": [ 1000, 2.30],
"alface": [ 500, 0.45],
"batata": [ 2001, 1.20],
"feijão": [ 100, 1.50] }
print(estoque)

{'tomate': [1000, 2.3], 'alface': [500, 0.45], 'batata': [2001, 1.2], 'feijão': [100, 1.5]}

# Tuplas

In [7]:
minha_tupla = ("a","b","c")

print(minha_tupla)
print(minha_tupla[0])
print(minha_tupla[1])
print(minha_tupla[2])
print(minha_tupla[1:])
print(minha_tupla * 2)
print(len(minha_tupla))

('a', 'b', 'c')
a
b
c
('b', 'c')
('a', 'b', 'c', 'a', 'b', 'c')
3

In [8]:
minha_tupla[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [11]:
tupla = ('a', ['b','c','d'])
print(tupla)
print(len(tupla))
print(tupla[1])
tupla[1].append('e')
print(tupla)

('a', ['b', 'c', 'd'])
2
['b', 'c', 'd']
('a', ['b', 'c', 'd', 'e'])

# Conjuntos

In [1]:
meu_conjunto = set()
meu_conjunto.add(1)
meu_conjunto.add(2)
meu_conjunto.add(3)
print(meu_conjunto)

#OU

outro_conjunto = {'a', 'b', 'c'}
print(outro_conjunto)

{1, 2, 3}
{'c', 'b', 'a'}

In [3]:
meu_conjunto.add(1)
print(meu_conjunto)

{1, 2, 3}

In [4]:
1 in meu_conjunto

True

In [6]:
conjunto = set([2,3])
print(conjunto)

print(len(conjunto))

{2, 3}
2

## União de COnjuntos

In [8]:
a = {0, 1, 2, 3, -1}
b = {2, 3}

c = set([4, 5, 6])

uniao_ab = a | b
print(uniao_ab)

uniao_ac = a | c
print(uniao_ac)

uniao_bc = b.union(c)
print(uniao_bc)

{0, 1, 2, 3, -1}
{0, 1, 2, 3, 4, 5, 6, -1}
{2, 3, 4, 5, 6}

## Interseção de conjuntos

In [9]:
A = {1,2,3,6}
B = {2,4,5,6}
print(A & B)
print(A.intersection(B))

{2, 6}
{2, 6}

## Diferença

In [11]:
A = {0, 1, 2, 3, -1}
B = {2, 3}
print(A - B)
print(A.difference(B))

{0, 1, -1}
{0, 1, -1}

## Outras operações com conjuntos

In [ ]:
A = {x for x in range(0,10,2)} #A = 0, 2, 4, 8
B = {2,4}

print(A > B)  # Verifica se todos os elementos de B estão em A
print(B > A)  # Verifica se todos os elementos de A estão em B
print(A >= A) #conjunto maior ou igual a outro: contém o outro conjunto
print(B >= A) #conjunto maior ou igual a outro: contém o outro conjunto
print(A < B)  # Verifica se todos os elementos de A estão em B
print(A == A) #igualdade: conjuntos tem os mesmos elementos
print (A == B) #igualdade: conjuntos tem os mesmos elementos