# Arquivos

In [1]:
arquivo=open("números.txt","w") 
for linha in range(1,101): 
    arquivo.write("%d\n" % linha) 
arquivo.close()

## lendo arquivo

In [ ]:
arquivo=open("números.txt","r") #1
for linha in arquivo.readlines(): 
    print(linha) 
arquivo.close()

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

31

32

33

34

35

36

37

38

39

40

41

42

43

44

45

46

47

48

49

50

51

52

53

54

55

56

57

58

59

60

61

62

63

64

65

66

67

68

69

70

71

72

73

74

75

76

77

78

79

80

81

82

83

84

85

86

87

88

89

90

91

92

93

94

95

96

97

98

99

100

## Escrevendo com WITH

In [3]:
with open("números.txt", "w") as arquivo:
    for linha in range(1, 101):
        arquivo.write(f"{linha}\n")

In [4]:
impares=open("impares.txt","w")
pares=open("pares.txt","w")
for n in range(0,1000):
    if n % 2 == 0:
        pares.write("%d\n" % n)
    else:
        impares.write("%d\n" % n)
impares.close()
pares.close()

In [5]:
múltiplos4=open("múltiplos de 4.txt","w")
pares=open("pares.txt")
for l in pares.readlines():
    if int(l) % 4 == 0: 
        múltiplos4.write(l)
pares.close()
múltiplos4.close()

## Processando elementos de cada linha

In [ ]:
with open("texto.txt", "r", encoding="utf-8") as arquivo:
    for linha in arquivo:
        linha = linha.strip()
        print(f"Linha: {linha}")
        for caractere in linha:   # percorre letra por letra
            print(f" -> {caractere}")

Linha: Python é top
 -> P
 -> y
 -> t
 -> h
 -> o
 -> n
 ->
 -> é
 ->
 -> t
 -> o
 -> p
Linha: Aprender é bom
 -> A
 -> p
 -> r
 -> e
 -> n
 -> d
 -> e
 -> r
 ->
 -> é
 ->
 -> b
 -> o
 -> m

In [11]:
with open("dados.txt", "r", encoding="utf-8") as arquivo:
    for linha in arquivo:
        linha = linha.strip()         # "João 25 SP"
        partes = linha.split()        # ["João", "25", "SP"]
        
        nome = partes[0]
        idade = int(partes[1])
        estado = partes[2]
        
        print(f"Nome: {nome}, Idade: {idade}, Estado: {estado}")

Nome: João, Idade: 25, Estado: SP
Nome: Maria, Idade: 30, Estado: RJ
Nome: Carlos, Idade: 22, Estado: MG

In [13]:
with open("notas.txt", "r", encoding="utf-8") as arquivo:
    for linha in arquivo:
        partes = linha.strip().split()
        nome = partes[0]
        notas = [int(n) for n in partes[1:]]  # converte em lista de inteiros
        media = sum(notas) / len(notas)
        print(f"{nome} -> média: {media:.2f}")

Ana -> média: 8.00
Bruno -> média: 6.00
Carla -> média: 9.00

## CSVs

In [2]:
import csv

with open("dados.csv", "r", encoding="utf-8") as arquivo:
    leitor = csv.reader(arquivo)
    for linha in leitor:
        print(linha)
        for e in linha:
            print(e)

['nome', 'idade', 'cidade']
nome
idade
cidade
['Ana', '25', 'São Paulo']
Ana
25
São Paulo
['Bruno', '30', 'Rio de Janeiro']
Bruno
30
Rio de Janeiro
['Carla', '22', 'Belo Horizonte']
Carla
22
Belo Horizonte

## JSON

In [ ]:
import json
with open("dados.json", "r", encoding="utf-8") as arquivo:
    dados = json.load(arquivo)

print(dados)
print(dados[0])
print(dados[0]["nome"])

[{'nome': 'Ana', 'idade': 25, 'cidade': 'São Paulo'}, {'nome': 'Bruno', 'idade': 30, 'cidade': 'Rio de Janeiro'}, {'nome': 'Carla', 'idade': 22, 'cidade': 'Belo Horizonte'}]
{'nome': 'Ana', 'idade': 25, 'cidade': 'São Paulo'}
Ana

# PANDAS

In [4]:
import pandas as pd

df = pd.read_csv("dados.csv")
print(df)

    nome  idade          cidade
0    Ana     25       São Paulo
1  Bruno     30  Rio de Janeiro
2  Carla     22  Belo Horizonte

In [ ]:
import pandas as pd

dados_estudantes = {
    'Nome': ['Ana Silva', 'Bruno Costa', 'Carlos Santos', 'Diana Lima', 'Eduardo Ferreira', 
             'Fernanda Souza', 'Gabriel Oliveira', 'Helena Martins', 'Igor Pereira', 'Julia Alves'],
    'Idade': [20, 22, 19, 21, 23, 20, 24, 19, 22, 21],
    'Curso': ['Matemática', 'História', 'Matemática', 'Biologia', 'História', 
              'Biologia', 'Matemática', 'História', 'Biologia', 'Matemática'],
    'Nota_1': [8.5, 7.2, 9.1, 6.8, 7.9, 8.3, 9.5, 6.5, 7.7, 8.8],
    'Nota_2': [9.0, 6.8, 8.7, 7.5, 8.2, 7.9, 9.2, 7.1, 8.0, 9.3],
    'Nota_3': [8.2, 7.5, 9.3, 7.0, 7.6, 8.1, 9.0, 6.8, 7.4, 8.5],
    'Faltas': [2, 5, 1, 8, 4, 3, 0, 12, 6, 2]
}

df = pd.DataFrame(dados_estudantes)

df.to_csv('estudantes.csv', index=False)
print("✓ Arquivo 'estudantes.csv' criado com sucesso!")

✓ Arquivo 'estudantes.csv' criado com sucesso!

## Dataframe

In [2]:
import pandas as pd
# Carregando nosso CSV
df = pd.read_csv('estudantes.csv')

print(f"\nNosso DataFrame tem:")
print(f"- {df.shape[0]} linhas (estudantes)")
print(f"- {df.shape[1]} colunas (informações)")

print(df)

Nosso DataFrame tem:
- 10 linhas (estudantes)
- 7 colunas (informações)
               Nome  Idade       Curso  Nota_1  Nota_2  Nota_3  Faltas
0         Ana Silva     20  Matemática     8.5     9.0     8.2       2
1       Bruno Costa     22    História     7.2     6.8     7.5       5
2     Carlos Santos     19  Matemática     9.1     8.7     9.3       1
3        Diana Lima     21    Biologia     6.8     7.5     7.0       8
4  Eduardo Ferreira     23    História     7.9     8.2     7.6       4
5    Fernanda Souza     20    Biologia     8.3     7.9     8.1       3
6  Gabriel Oliveira     24  Matemática     9.5     9.2     9.0       0
7    Helena Martins     19    História     6.5     7.1     6.8      12
8      Igor Pereira     22    Biologia     7.7     8.0     7.4       6
9       Julia Alves     21  Matemática     8.8     9.3     8.5       2

In [12]:
df = pd.read_csv('estudantes.csv')
print("=== EXPLORANDO NOSSOS DADOS ===")

# Informações básicas sobre o DataFrame
print("\n1. INFORMAÇÕES GERAIS:")
print(df.info())

print("\n2. PRIMEIRAS LINHAS (head):")
print(df.head())

print("\n3. ÚLTIMAS LINHAS (tail):")
print(df.tail(3))  # Podemos especificar quantas linha

print("\n4. FORMATO DOS DADOS (shape):")
print(f"Dimensões: {df.shape}")  # (linhas, colunas)

print("\n5. NOMES DAS COLUNAS:")
print(list(df.columns))

print("\n6. TIPOS DE DADOS:")
print(df.dtypes)

=== EXPLORANDO NOSSOS DADOS ===

1. INFORMAÇÕES GERAIS:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    10 non-null     object
 1   Idade   10 non-null     int64
 2   Curso   10 non-null     object
 3   Nota_1  10 non-null     float64
 4   Nota_2  10 non-null     float64
 5   Nota_3  10 non-null     float64
 6   Faltas  10 non-null     int64
dtypes: float64(3), int64(2), object(2)
memory usage: 692.0+ bytes
None

2. PRIMEIRAS LINHAS (head):
               Nome  Idade       Curso  Nota_1  Nota_2  Nota_3  Faltas
0         Ana Silva     20  Matemática     8.5     9.0     8.2       2
1       Bruno Costa     22    História     7.2     6.8     7.5       5
2     Carlos Santos     19  Matemática     9.1     8.7     9.3       1
3        Diana Lima     21    Biologia     6.8     7.5     7.0       8
4  Eduardo Ferreira     23    História     7.9     8.2     7.6       4

3. ÚLTIMAS LINHAS (tail):
             Nome  Idade       Curso  Nota_1  Nota_2  Nota_3  Faltas
7  Helena Martins     19    História     6.5     7.1     6.8      12
8    Igor Pereira     22    Biologia     7.7     8.0     7.4       6
9     Julia Alves     21  Matemática     8.8     9.3     8.5       2

4. FORMATO DOS DADOS (shape):
Dimensões: (10, 7)

5. NOMES DAS COLUNAS:
['Nome', 'Idade', 'Curso', 'Nota_1', 'Nota_2', 'Nota_3', 'Faltas']

6. TIPOS DE DADOS:
Nome       object
Idade       int64
Curso      object
Nota_1    float64
Nota_2    float64
Nota_3    float64
Faltas      int64
dtype: object

## Series

In [14]:
print("=== O QUE É UMA SERIES ===")
print("Uma Series é como uma coluna individual do DataFrame")

# Selecionando uma coluna (retorna uma Series)
nomes = df['Nome']
print("\nTipo da variável 'nomes':", type(nomes))
print("\nPrimeiros 5 nomes:")
print(nomes.head())

# Características de uma Series
print(f"\nTamanho da Series: {len(nomes)}")
print(f"Nome da Series: {nomes.name}")
print(f"Tipo dos dados: {nomes.dtype}")

=== O QUE É UMA SERIES ===
Uma Series é como uma coluna individual do DataFrame

Tipo da variável 'nomes': <class 'pandas.core.series.Series'>

Primeiros 5 nomes:
0           Ana Silva
1         Bruno Costa
2       Carlos Santos
3          Diana Lima
4    Eduardo Ferreira
Name: Nome, dtype: object

Tamanho da Series: 10
Nome da Series: Nome
Tipo dos dados: object

## Estatísticas Descritivas

In [15]:
print("=== ESTATÍSTICAS DESCRITIVAS ===")

print("1. RESUMO ESTATÍSTICO GERAL:")
df.describe()

=== ESTATÍSTICAS DESCRITIVAS ===
1. RESUMO ESTATÍSTICO GERAL:

          Idade     Nota_1     Nota_2    Nota_3     Faltas
count  10.00000  10.000000  10.000000  10.00000  10.000000
mean   21.10000   8.030000   8.170000   7.94000   4.300000
std     1.66333   0.992248   0.874389   0.82758   3.622461
min    19.00000   6.500000   6.800000   6.80000   0.000000
25%    20.00000   7.325000   7.600000   7.42500   2.000000
50%    21.00000   8.100000   8.100000   7.85000   3.500000
75%    22.00000   8.725000   8.925000   8.42500   5.750000
max    24.00000   9.500000   9.300000   9.30000  12.000000

In [16]:
print("\n2. ESTATÍSTICAS ESPECÍFICAS:")
print(f"Idade média dos estudantes: {df['Idade'].mean():.1f} anos")
print(f"Idade mínima: {df['Idade'].min()} anos")
print(f"Idade máxima: {df['Idade'].max()} anos")

print(f"\nMédia da primeira prova: {df['Nota_1'].mean():.2f}")
print(f"Média da segunda prova: {df['Nota_2'].mean():.2f}")
print(f"Média da terceira prova: {df['Nota_3'].mean():.2f}")

print("\n3. CONTAGEM DE VALORES:")
print("Quantidade de estudantes por curso:")
df['Curso'].value_counts()

2. ESTATÍSTICAS ESPECÍFICAS:
Idade média dos estudantes: 21.1 anos
Idade mínima: 19 anos
Idade máxima: 24 anos

Média da primeira prova: 8.03
Média da segunda prova: 8.17
Média da terceira prova: 7.94

3. CONTAGEM DE VALORES:
Quantidade de estudantes por curso:

Curso
Matemática    4
História      3
Biologia      3
Name: count, dtype: int64

In [3]:
# Múltiplas colunas
print("\n2. MÚLTIPLAS COLUNAS (retorna DataFrame):")
info_basica = df[['Nome', 'Idade', 'Curso']]
print(type(info_basica))
info_basica.head()
info_basica.head()

2. MÚLTIPLAS COLUNAS (retorna DataFrame):
<class 'pandas.core.frame.DataFrame'>

               Nome  Idade       Curso
0         Ana Silva     20  Matemática
1       Bruno Costa     22    História
2     Carlos Santos     19  Matemática
3        Diana Lima     21    Biologia
4  Eduardo Ferreira     23    História

## Selecionando Linhas por Posição

In [9]:
print("=== SELECIONANDO LINHAS POR POSIÇÃO ===")

print("1. PRIMEIRA LINHA (iloc[0]):")
print(df.iloc[0])

print("\n2. PRIMEIRAS 3 LINHAS (iloc[0:3]):")
df.iloc[0:3]

print("\n3. linhas e colunas específicas:")
print(df.iloc[0,0]) #registro da primeira linha e primeira coluna (nome)
print(df.iloc[0:2,0]) #registro das duas primeiras linhas e primeira coluna (nome)
print(df.iloc[0:2,0:2]) #registro das duas primeiras linhas duas primeiras colunas (nome, idade)

=== SELECIONANDO LINHAS POR POSIÇÃO ===
1. PRIMEIRA LINHA (iloc[0]):
Nome       Ana Silva
Idade             20
Curso     Matemática
Nota_1           8.5
Nota_2           9.0
Nota_3           8.2
Faltas             2
Name: 0, dtype: object

2. PRIMEIRAS 3 LINHAS (iloc[0:3]):

3. linhas e colunas específicas:
Ana Silva
0      Ana Silva
1    Bruno Costa
Name: Nome, dtype: object
          Nome  Idade
0    Ana Silva     20
1  Bruno Costa     22

## Novas Colunas

In [10]:
print("=== CRIANDO NOVAS COLUNAS ===")

# Calculando a média das três notas
df['Media'] = (df['Nota_1'] + df['Nota_2'] + df['Nota_3']) / 3
print("1. COLUNA MÉDIA CRIADA:")
df[['Nome', 'Nota_1', 'Nota_2', 'Nota_3', 'Media']].head()

=== CRIANDO NOVAS COLUNAS ===
1. COLUNA MÉDIA CRIADA:

               Nome  Nota_1  Nota_2  Nota_3     Media
0         Ana Silva     8.5     9.0     8.2  8.566667
1       Bruno Costa     7.2     6.8     7.5  7.166667
2     Carlos Santos     9.1     8.7     9.3  9.033333
3        Diana Lima     6.8     7.5     7.0  7.100000
4  Eduardo Ferreira     7.9     8.2     7.6  7.900000